.container {
  max-width: 1340px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  text-align: center;
  color: #888;
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
