.gallery {
  padding: 1%;
  background-color: #cbd3c6;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
}

@media screen and (max-width: 420px) {
    .gallery {
      padding: 0;
    }
}
