.recipe-card {
  margin: 0.5% 0.5%;
  width: 250px;
  max-width: 800px;
  flex: auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  color: #666;
}


.recipe-card .thumb {
}

.thumb img {
  width: 100%;
  height: auto;
}

.recipe-card .desc {
  padding: 0.3rem 0.6rem;
}

.recipe-card .desc h3 {
  margin: 0;
}

.recipe-card .desc p {
  margin: 0.3rem 0;
}

.recipe-card .tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe-card .tags ul > li {
  display: inline-block;
  font-size: 0.5rem;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #ccc;
  color: white;
  padding: 2px 3px;
  margin-right: 0.3rem;
  margin-left: 0;
  letter-spacing: 1px;
}

.likes {
  display: inline-block;
}

.likes button {
  margin-top: 5px;
  margin-right: 10px;
  background: #f5f5f5;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ccc;
}

.count {
  font-size: 0.5rem;
}
.count-icon {
  font-size: 0.5rem;
  margin-left: 0.3rem;
}
