.gallery {
  padding: 1%;
  background-color: #cbb68e;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-around;
}

/*@media screen and (max-width: 420px) {
    .gallery {
      padding: 1%;
    }
}*/
