/* Import Fonts*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Indie+Flower|Open+Sans:300,400,600,800');

body {
  margin: 0;
  padding: 0;
  padding-top: 64px; /* for nav bar */
  font-family: 'open sans', 'helvetica neue', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #f6f1ea;
  color: #666;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}
