@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Indie+Flower');

body {
  margin: 0;
  padding: 0;
  padding-top: 50px; /* for nav bar */
  font-family: 'helvetica neue', sans-serif;
  font-size: 12px;
  background-color: #cbb68e;
  color: #666;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  position: relative;
  border: 1px solid blue;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.4;
}
